<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mauth.issue.common.mapper.CardInfoMapper" >
    <resultMap id="BaseResultMap" type="cn.mauth.issue.common.entity.CardInfo">
        <id column="id" property="id" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="card_face_price" property="cardFacePrice" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="uuid" property="uuid" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="card_type" property="cardType" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="order_card_id" property="orderCardId" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="order_card_pay_id" property="orderCardPayId" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="status" property="status" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="days" property="days" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="expire" property="expire" jdbcType="BIT" javaType="java.lang.Boolean"/>
        <result column="remark" property="remark" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="auth_sign" property="authSign" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="serial_no" property="serialNo" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="order_no" property="orderNo" jdbcType="BIGINT" javaType="java.lang.Long"/>

    </resultMap>
    <sql id="column_list">
        id,gmt_create,gmt_modified,card_face_price,uuid,card_type,order_card_id,order_card_pay_id,status,expire,days,remark,serial_no,order_no,auth_sign
    </sql>

    <select id="count" parameterType="cn.mauth.issue.common.entity.CardInfo" resultType="java.lang.Integer">
        select count(1) from card_info
        <where>
            <if test="gmtCreate!=null">
                AND gmt_create=#{gmtCreate}
            </if>
            <if test="gmtModified!=null">
                AND gmt_modified=#{gmtModified}
            </if>
            <if test="uuid!=null">
                AND uuid like CONCAT('%',#{uuid},'%')
            </if>
            <if test="cardType!=null">
                AND card_type like CONCAT('%',#{cardType},'%')
            </if>
            <if test="orderCardId>0">
                AND  order_card_id=#{orderCardId}
            </if>
            <if test="orderCardPayId>0">
                AND  order_card_pay_id =#{orderCardPayId}
            </if>
            <if test="status!=0">
                AND  status=#{status}
            </if>
            <if test="days>0">
                AND  days=#{days}
            </if>
            <if test="expire!=null">
                AND  expire=#{expire}
            </if>
            <if test="remark!=null">
                AND  remark like CONCAT('%',#{remark},'%')
            </if>

            <if test="authSign!=null">
                AND  auth_sign like CONCAT('%',#{authSign},'%')
            </if>

            <if test="serialNo!=null">
                AND  serial_no like CONCAT('%',#{serialNo},'%')
            </if>
            <if test="orderNo>0">
                AND  order_no=#{orderNo}
            </if>

        </where>
    </select>

    <select id="findByOrderCardPayId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="column_list"/>
        from card_info
        where order_card_pay_id=#{payId,jdbcType=BIGINT}
    </select>

    <select id="findByUUID" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="column_list"/>
        from card_info
        where uuid=#{uuid}
    </select>

    <insert id="insert" parameterType="cn.mauth.issue.common.entity.CardInfo">
        insert into card_info
          (gmt_create,gmt_modified,card_face_price,uuid,card_type,order_card_id,
          order_card_pay_id,status,days,expire,remark,serial_no,order_no,auth_sign)
        values
          (NOW(),NOW(),#{cardFacePrice},#{uuid},#{cardType},#{orderCardId},
          #{orderCardPayId},#{status},#{days},#{expire},#{remark},#{serialNo},#{orderNo},#{authSign})
    </insert>

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="column_list"/>
        from card_info
        where id=#{id,jdbcType=BIGINT}
    </select>

    <select id="page" parameterType="cn.mauth.issue.util.RequestPage" resultMap="BaseResultMap">
        SELECT
        <include refid="column_list"/>
        from card_info
        where 1=1
        <if test="t!=null">
            <if test="t.gmtCreate!=null">
                AND gmt_create=#{t.gmtCreate}
            </if>
            <if test="t.gmtModified!=null">
                AND gmt_modified=#{t.gmtModified}
            </if>
            <if test="t.uuid!=null">
                AND uuid like CONCAT('%',#{t.uuid},'%')
            </if>
            <if test="t.cardType!=null">
                AND card_type like CONCAT('%',#{t.cardType},'%')
            </if>
            <if test="t.orderCardId>0">
                AND  order_card_id=#{t.orderCardId}
            </if>
            <if test="t.orderCardPayId>0">
                AND  order_card_pay_id =#{t.orderCardPayId}
            </if>
            <if test="t.status!=0">
                AND  status=#{t.status}
            </if>
            <if test="t.days>0">
                AND  days=#{t.days}
            </if>
            <if test="t.expire!=null">
                AND  expire=#{t.expire}
            </if>
            <if test="t.remark!=null">
                AND  remark like CONCAT('%',#{t.remark},'%')
            </if>

            <if test="t.authSign!=null">
                AND  auth_sign like CONCAT('%',#{t.authSign},'%')
            </if>
            <if test="t.serialNo!=null">
                AND  serial_no like CONCAT('%',#{t.serialNo},'%')
            </if>
            <if test="t.orderNo>0">
                AND  order_no=#{t.orderNo}
            </if>
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
        <if test="limitStart>=0">
            limit ${limitStart},${pageSize}
        </if>
    </select>

    <update id="update" parameterType="cn.mauth.issue.common.entity.CardInfo">
        update card_info
        <set>
            <if test="true">
                gmt_modified=NOW(),
            </if>
            <if test="uuid!=null">
                uuid=#{uuid},
            </if>
            <if test="cardType!=null">
                card_type=#{cardType},
            </if>
            <if test="orderCardId>0">
                order_card_id=#{orderCardId},
            </if>
            <if test="orderCardPayId>0">
                order_card_pay_id =#{orderCardPayId},
            </if>
            <if test="status!=1">
                card_face_price=#{cardFacePrice},
            </if>
            <if test="days>0">
                days=#{days},
            </if>
            <if test="expire!=null">
                expire=#{expire},
            </if>
            <if test="remark!=null">
                remark=#{remark},
            </if>
            <if test="authSign!=null">
                auth_sign=#{authSign}
            </if>
        </set>
        where id=#{id,jdbcType=BIGINT}
    </update>

    <update id="updateAll" parameterType="cn.mauth.issue.common.entity.CardInfo">
        update card_info
        set
            gmt_modified=NOW(),
            uuid=#{uuid},
            card_type=#{cardType},
            order_card_id=#{orderCardId},
            order_card_pay_id =#{orderCardPayId},
            card_face_price=#{cardFacePrice},
            days=#{days},
            expire=#{expire},
            remark=#{remark},
            auth_sign=#{authSign}
        where id=#{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from card_info where id=#{id}
    </delete>

    <update id="activeStatus" parameterType="java.lang.Long">
        update card_info set status=2,gmt_modified=NOW() where id=#{id}
    </update>

    <select id="findByOrderCardId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="column_list"/>
        from card_info
        where order_card_id=#{orderId,jdbcType=BIGINT}
    </select>

    <select id="findByOrderCardIds" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT
        <include refid="column_list"/>
        from card_info
        where order_card_id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="findCashOutFaceValue">
        select sum(card_face_price) from card_info where status=2
    </select>

    <select id="findUnCashOutFaceValue">
        select sum(card_face_price) from card_info where status=1
    </select>

    <select id="findCardType">
        select card_face_price as price,count(1) as amount  from card_info GROUP by card_face_price
    </select>

    <select id="getCashOut" parameterType="java.util.List" resultType="cn.mauth.issue.util.bjui.StatisticsInfo">
        select
          order_no as orderNo,
          sum(card_face_price) as cashOutFace,
          count(order_no) as cashOutCount
        from card_info
        where status=2 and order_no in
        <foreach collection="list" item="no" open="(" separator="," close=")">
            #{no}
        </foreach>
        GROUP BY order_no
    </select>


    <select id="findByUUIDAndAuthSign" resultMap="BaseResultMap">
        select
        <include refid="column_list"/>
        from card_info
        where uuid=#{cardKey} and auth_sign=#{authSign}
    </select>
</mapper>