<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mauth.issue.common.mapper.OrderCardPayMapper">
    <resultMap id="results" type="cn.mauth.issue.common.entity.OrderCardPay">
        <id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result column="gmt_create" property="gmtCreate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="serial_no" property="serialNo" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="serial_type" property="serialType" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="order_card_id" property="orderCardId" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result column="serial_amount" property="serialAmount" javaType="java.lang.Double" jdbcType="DOUBLE"/>
        <result column="status" property="status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="remark" property="remark" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="column_list">
        id,gmt_create,serial_no,serial_type,order_card_id,serial_amount,status,remark
    </sql>

    <select id="count" parameterType="cn.mauth.issue.common.entity.OrderCardPay" resultType="java.lang.Integer">
        select count(1) from order_card_pay
        where 1=1
        <if test="gmtCreate!=null">
            and  gmt_create=#{gmtCreate}
        </if>
        <if test="serialNo!=null">
            and  serial_type like CONCAT('%',#{serialNo},'%')
        </if>
        <if test="serialType!=null">
            and  serial_type like CONCAT('%',#{serialType},'%')
        </if>
        <if test="orderCardId>0">
            and  order_card_id=#{orderCardId}
        </if>
        <if test="serialAmount>0">
            and  serial_amount=#{serialAmount}
        </if>
        <if test="status!=1">
            and  status=#{status}
        </if>
        <if test="remark!=null">
            and  remark like CONCAT('%',#{remark},'%')
        </if>
    </select>

    <insert id="insert" parameterType="cn.mauth.issue.common.entity.OrderCardPay">
        insert into order_card_pay
        (gmt_create,serial_no,serial_type,order_card_id,serial_amount,status,remark)
        values
        (#{gmtCreate},#{serialNo},#{serialType},#{orderCardId},#{serialAmount},#{status},#{remark})
    </insert>

    <select id="selectById" parameterType="java.lang.Long" resultMap="results">
        select
        <include refid="column_list"/>
        from order_card_pay
        where id=#{id,jdbcType=BIGINT}
    </select>

    <select id="page" parameterType="cn.mauth.issue.util.RequestPage" resultMap="results">
        SELECT
        <include refid="column_list"/>
        from order_card_pay where 1=1
        <if test="t!=null">
            <if test="t.gmtCreate!=null">
                and  gmt_create=#{t.gmtCreate}
            </if>
            <if test="t.serialNo!=null">
                and  serial_type like CONCAT('%',#{t.serialNo},'%')
            </if>
            <if test="t.serialType!=null">
                and  serial_type like CONCAT('%',#{t.serialType},'%')
            </if>
            <if test="t.orderCardId>0">
                and  order_card_id=#{t.orderCardId}
            </if>
            <if test="t.serialAmount>0">
                and  serial_amount=#{t.serialAmount}
            </if>
            <if test="t.status!=1">
                and  status=#{t.status}
            </if>
            <if test="t.remark!=null">
                and  remark like CONCAT('%',#{t.remark},'%')
            </if>
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
        <if test="limitStart>=0">
            limit ${limitStart},${pageSize}
        </if>
    </select>

    <update id="update" parameterType="cn.mauth.issue.common.entity.OrderCardPay">
        update order_card_pay
        <set>
            <if test="gmtCreate!=null">
                gmt_create=#{gmtCreate},
            </if>
            <if test="serialNo!=null">
                serial_type =#{serialNo},
            </if>
            <if test="serialType!=null">
                serial_type =#{serialType},
            </if>
            <if test="orderCardId>0">
               order_card_id=#{orderCardId},
            </if>
            <if test="serialAmount>0">
                serial_amount=#{serialAmount},
            </if>
            <if test="status!=1">
                status=#{status},
            </if>
            <if test="remark!=null">
                remark=#{remark},
            </if>
        </set>
        where id=#{id,jdbcType=BIGINT}
    </update>

    <update id="updateAll" parameterType="cn.mauth.issue.common.entity.OrderCardPay">
        update order_card_pay
        set
            gmt_create=#{gmtCreate},
            serial_type={serialNo},
            serial_type=#{serialType},
            order_card_id=#{orderCardId},
            serial_amount=#{serialAmount},
            status=#{status}
        where id=#{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from order_card_pay where id=#{id}
    </delete>

    <select id="findByOrderCardId" resultMap="results" parameterType="java.lang.Long">
        select
        <include refid="column_list"/>
        from order_card_pay
        where order_card_id=#{orderCardId}
    </select>
</mapper>